@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Variables standarized
@mixin registrosButtonCancelar (
    $display: flex,
    $margin-right: 24px,
    $margin-top: 0px,
    $background: #FFFFFF,
    $border: 1px solid #C3CBD1,
    $border-radius: 40px,
    $width: 121px,
    $height: 40px,
){
    display: $display;
    margin-right: $margin-right;
    margin-top: $margin-top;
    background: $background;
    border: $border;
    border-radius: $border-radius;
    width: $width;
    height: $height;
}
@mixin img (
    $margin-left: 14px,
    $width: 13px,
    $height: 13px,
    $margin-top: 13.5px,
) {
    margin-left: $margin-left;
    width: $width;
    height: $height;
    margin-top: $margin-top;

}
@mixin buttonCancelar (
    $margin-top: 0px,
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 600,
    $font-size: 14px,
    $line-height: 21px,
    $display: flex,
    $align-items: center,
    $text-align: right,
    $color: #003C70,
    $text-transform: capitalize,
    $margin-left: 0px, 
) {
    margin-top: $margin-top;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    display: $display;
    align-items: $align-items;
    text-align: $text-align;
    color: $color;
    text-transform: $text-transform;
    margin-left: $margin-left;
}

@mixin mainABMTitle (
    $display: flex,
    $justify-content: space-between,
    $width: 1326px,
    $height: 29px,
    $left: 250px,
    $margin-bottom: 20px
) {
    display: $display;
    justify-content: $justify-content;
    width: $width;
    height: $height;
    left: $left;
    margin-bottom: $margin-bottom;
}

@mixin h4 (
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 400,
    $font-size: 20px,
    $line-height: 36px,
    $color: #003C70,
    $margin-bottom: 0px
){
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    margin-bottom: $margin-bottom;
}

@mixin h6 (
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 400px,
    $font-size: 16px,
    $line-height: 24px,
    $color: #4A5A68,
)
{
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
} 

@mixin listarCrud(
    $margin-right: 24px,
    $width: auto,
    $height: 40px,
    $display: flex,
    $background: #FFFFFF,
    $border: 1px solid #C3CBD1,
    $border-radius: 40px,
) {
    margin-right: $margin-right;
    width: $width;
    height: $height;
    display: $display;
    background: $background;
    border: $border;
    border-radius: $border-radius; 
}
@mixin uncontrolledInput (
    //$margin-top: -20px,
    $margin-left: 20px,
    $border-bottom: none,
    $height: 20px,
    $background: #FAF9F9,
    $border-radius: 10px,
    $border-width: 0px,
    $font-family: 'Helvetica Neue',
    $font-style: normal,
    $font-weight: 400,
    $font-size: 14px,
    $line-height: 17px,
    $color: #C3CBD1,

){
    //margin-top: $margin-top;
    margin-left: $margin-left;
    border-bottom: $border-bottom;
    height: $height;
    background: $background;
    border-radius: $border-radius;
    border-width: $border-width;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

// Global Settings // 
:global #app{
    background: white;
    font-family: 'Poppins';
}
// Clases Globales // 
    // General //
       .inputTitle{
            width: 246px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;

        }
        .unidadInputs{
            margin-top: -20px;
            display: flex;
            width: auto;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
            margin-top: 22px;
            .uncontrolledInput{
                margin-left: 10px;
                margin-top: -4px;
                color: #FAF9F9;
            
                & :global(.MuiOutlinedInput-root){
                    margin-top: -20px;
                    background-color: #FAF9F9;
                    border-radius: 10px;
                    height: 40px;
                    margin-bottom: 42px;
                    color: #FA6100;
                }
                & :global(.MuiInputLabel-root){
                    margin-top: -20px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #e51313;
                }
                & :global(.MuiInput-root){
                    font-family: "Roboto","Helvetica","Arial",sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.4375em;
                    letter-spacing: 0.00938em;
                    color: #0b0070;
                    box-sizing: border-box;
                    position: relative;
                    cursor: text;
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;
                }
        }

        }
        .obsInputs {
            width: 647px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
            margin-top: 24px;

          
        }
        .descriptionInputs {
            margin-top: 22px;
            width: 707.9px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;

        }
        .mainABMTitle{
         @include mainABMTitle();
                h4{
                    @include h4 (
                        //$margin-bottom: 10px
                    );
                }
                h6{
                    @include h6 ();
                }
        }

  // Body //
.ggss{
.centerSection{
        .centerContainer{
            margin-left: 288px;
            margin-top: 74px;
        }
    }
}
// Tablas Varias // 
        .abmTablasVarias{
                .centerContainer{ 
                margin-left: 244px;
                width: 1600px;
                    .tituloABM{
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 24px;
                        .tituloAzulh4{
                            h4{
                                @include h4 ();
                            } 
                        }
                    }
                }
            }
// ------- registros --------------
.registros{
    .mainRegistros {
        display: flex;
        .leftSection {
            .selectRegistrosText {
                margin-top: 100px;
                margin-left: 28px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #003C70;
            }
            .registrosDiv {
                width: 382px;
                height: 437px;
                margin-left: 28px;
                border: 1px solid #E2E8ED;
                border-radius: 3px;
            }

        }
        .centerSection {
            margin-top: 2px;
            margin-left: 135px;
            .checkboxRegistros {
                display: flex;
               
            }
        }
            .registrosButtons {
                display: flex;
                margin-top: 24px;
                .registrosButtonCancelar{
                    
                    @include registrosButtonCancelar ();
                    picture {
                        img {
                            @include img();
                        }
                    }
                    button {
                        @include buttonCancelar();
                    }
                }
                
                .registrosButtonAceptar {
                    @include registrosButtonCancelar();
                    picture {
                        img {
                            @include img();
                        }
                    }
                    button {
                        @include buttonCancelar();
                    }
                }
            }
        }
        .rightSection {
            margin-top: 467px;
            margin-left: 172px;
        }
    }
    .cudBarRegistros {
        background: #FAF9F9;
        height: 88px;
        width: 2000px;
        margin-left: -100px;
        margin-top: 48px;
        .crudBarRegistros {
            margin-left: 388px;
        }
        .crudBarSection {
            display: flex;
            margin-left: 340px;
            padding-top: 23px;
            padding-bottom: 23px;
            .agregarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .modificarCrud {
                @include listarCrud();
                picture {
                    img {
                       @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .eliminarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .listarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .salidaCrud {
                height: 40px;
                width: 142px;
                background: #FA6100;
                border-radius: 40px;
                button {
                    @include buttonCancelar( 
                        $margin-top: 2px,
                        $color: #FFFFFF,
                        $text-align: center,
                        $margin-left: 38px,
                        );
                }
            }
        }
    }

//--------- Familia--------
//-------Datos Familia--------//
.divImage{
    border: solid gray 1px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.centerSectionFamilia{
        margin-left: 200px;
        margin-top: 50px;
}

.rightSectionFamilia {
    margin-top: 50px;
    margin-left: 172px;
}

.inputsSectionFamilia{
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
}

.inputLeftFamilia{
    margin-right: 20px;
}

.unidadInputsFamilia{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.unidadInputFamiliaSmall{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.btnObsFamilia{
    display: flex;
    margin-top: 55px;
    width: 200px;
    justify-content: space-between;
}

.espacioTablaFamilia{
    margin-top: 40px;
    margin-left: auto;
    width: 1100px;
    height: 200px;
    border: solid 1px gray;
}