@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Variables standarized
@mixin registrosButtonCancelar (
    $display: flex,
    $margin-right: 24px,
    $background: #FFFFFF,
    $border: 1px solid #C3CBD1,
    $border-radius: 40px,
    $width: 121px,
    $height: 40px,
){
    display: $display;
    margin-top: $margin-right;
    background: $background;
    border: $border;
    border-radius: $border-radius;
    width: $width;
    height: $height;
}
@mixin img (
    $margin-left: 14px,
    $width: 13px,
    $height: 13px,
    $margin-top: 13.5px,
) {
    margin-left: $margin-left;
    width: $width;
    height: $height;
    margin-top: $margin-top;

}
@mixin buttonCancelar (
    $margin-top: 2px,
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 600,
    $font-size: 14px,
    $line-height: 21px,
    $display: flex,
    $align-items: center,
    $text-align: right,
    $color: #003C70,
    $text-transform: capitalize,
    $margin-left: 0px, 
) {
    margin-top: $margin-top;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    display: $display;
    align-items: $align-items;
    text-align: $text-align;
    color: $color;
    text-transform: $text-transform;
    margin-left: $margin-left;
}

@mixin mainABMTitle (
    $display: flex,
    $justify-content: space-between,
    $width: 1326px,
    $height: 29px,
    $left: 250px,
    $margin-bottom: 20px
) {
    display: $display;
    justify-content: $justify-content;
    width: $width;
    height: $height;
    left: $left;
    margin-bottom: $margin-bottom;
}

@mixin h4 (
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 400,
    $font-size: 20px,
    $line-height: 36px,
    $color: #003C70,
){
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin h6 (
    $font-family: 'Poppins',
    $font-style: normal,
    $font-weight: 400px,
    $font-size: 16px,
    $line-height: 24px,
    $color: #4A5A68,
)
{
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
} 

@mixin listarCrud(
    $margin-right: 24px,
    $width: 89px,
    $height: 40px,
    $display: flex,
    $background: #FFFFFF,
    $border: 1px solid #C3CBD1,
    $border-radius: 40px,
) {
    margin-right: $margin-right;
    width: $width;
    height: $height;
    display: $display;
    background: $background;
    border: $border;
    border-radius: $border-radius; 
}

// Global Settings // 
:global #app{
    background: white;
    font-family: 'Poppins';
}
// Clases Globales // 
    // General //
       .inputTitle{
            width: 246px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
    
            [class*='css-o943dk']{
                display: none;
            }
            [class*='css-yk16xz']{
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;
            }
            [class*='css-1okebmr']{
                display: none;
            }
        }
        .unidadInputs{
            width: auto;
            height: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
            margin-top: 24px;
            
            div > label {
                color: #C3CBD1;
            }

            [class*='css-1t8l2tu'] {
                height: 20px;
            }

            [class*='css-10botns'] {
                height: 20px;
            }
    
            [class*='css-o943dk']{
                display: none;
            }

            [class*='css-1d3z3hw'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #C3CBD1;
            }

            [class*='css-yk16xz']{
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;
            }
            [class*='css-gjbq6i']{
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;
            }
            [class*='css-gjbq6i-MuiInputBase-root-MuiFilledInput-root']::before{
                border-bottom: none;
            }
            [class*='css-gjbq6i-MuiInputBase-root-MuiFilledInput-root']::after{
                border-bottom: none;
            }
            [class*='css-gjbq6i-MuiInputBase-root-MuiFilledInput-root']:hover{
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;
                border-bottom: none;
            }
            [class*='css-1okebmr']{
                display: none;
            }
            [class*='css-1ra8cd2'] {
                background: #FAF9F9;
                border-radius: 10px;
                width: 643px;
                height: 75px;
            }
            [class*='css-1ra8cd2']::before {
                border-bottom: none;
            }
            [class*='css-1ra8cd2']::after {
                border-bottom: none;
            } 
        }
        .obsInputs {
            width: 647px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
            margin-top: 24px;
            div > label {
                color: #C3CBD1;
            }
            [class*='css-17vbkzs'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68; 
            }
            [class*='css-17vbkzs']::after{
                border-bottom: none;
            }
            [class*='css-17vbkzs']::after{
                border-bottom: none;
            }
            [class*='css-10botns'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;   
                height: 55px;  
            }
            [class*='css-10botns']::after { 
                border-bottom: none;
            }
            
            [class*='css-10botns']::before { 
                border-bottom: none;
            }
            
            [class*='css-gjbq6i'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;     
            }
            [class*='css-gjbq6i']::after {
                border-bottom: none;
            }
            [class*='css-gjbq6i']::before {
                border-bottom: none;
            }
            [class*='css-e4w4as'] {
                color: #C3CBD1;
            }
        }
        .descriptionInputs {
            margin-top: 22px;
            width: 707.9px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #003C70;
            div > label {
                color: #C3CBD1;
            }
            [class*='css-17vbkzs'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;
            }
            [class*='css-17vbkzs']::after{
                border-bottom: none;
            }
            [class*='css-17vbkzs']::after{
                border-bottom: none;
            }
            [class*='css-10botns'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;   
                height: 55px;  
            }
            [class*='css-10botns']::after { 
                border-bottom: none;
            }
            
            [class*='css-10botns']::before { 
                border-bottom: none;
            }
            
            [class*='css-gjbq6i'] {
                background: #FAF9F9;
                border-radius: 10px;
                border-width: 0px;
                font-family: 'Helvetica Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4A5A68;     
            }
            [class*='css-gjbq6i']::after {
                border-bottom: none;
            }
            [class*='css-gjbq6i']::before {
                border-bottom: none;
            }
        }
        .mainABMTitle{
         @include mainABMTitle();
                h4{
                    @include h4 ();
                }
                h6{
                    @include h6 ();
                }
        }

  // Menu Taller //
.ggss{
.centerSection{
        .centerContainer{
            margin-left: 288px;
            margin-top: 74px;
        }
    }
}
// Tablas Varias // 
        .abmTablasVarias{
                .centerContainer{ 
                margin-left: 244px;
                width: 1600px;
                    .tituloABM{
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 24px;
                        .tituloAzulh4{
                            h4{
                                @include h4 ();
                            } 
                        }
                    }
                }
            }
// ------- choferes -------
.registros{
    .mainRegistros {
        display: flex;
        .leftSection {
            .selectRegistrosText {
                margin-top: 100px;
                margin-left: 28px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #003C70;
            }
            .registrosDiv {
                width: 382px;
                height: 437px;
                margin-left: 28px;
                border: 1px solid #E2E8ED;
                border-radius: 3px;
            }

        }
        .centerSection {
            margin-top: 94px;
            margin-left: 155px;
            .checkboxRegistros {
                display: flex;
                margin-left: 275px;
                margin-top: -50px;
                label {
                    margin-left: 11px;
                    margin-top: -11px;
                    span {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 20px;
                        color: #003C70;
                    }
                }
            }
            .registrosButtons {
                display: flex;
                margin-top: 24px;
                @include registrosButtonCancelar ();
                    picture {
                        @include img();
                    }
                    button {
                        @include buttonCancelar();
                    }
                }
                .registrosButtonAceptar {
                    @include registrosButtonCancelar(
                        $margin-right:0px
                    );
                    picture {
                        img {
                            @include img();
                        }
                    }
                    button {
                        @include buttonCancelar();
                    }
                }
            }
        }
        .rightSection {
            margin-top: 467px;
            margin-left: 172px;
        }
    }
    .cudBarRegistros {
        background: #FAF9F9;
        height: 88px;
        width: 2000px;
        margin-left: -100px;
        margin-top: 48px;
        .crudBarRegistros {
            margin-left: 388px;
        }
        .crudBarSection {
            display: flex;
            margin-left: 340px;
            padding-top: 23px;
            padding-bottom: 23px;
            .agregarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .modificarCrud {
                @include listarCrud();
                picture {
                    img {
                       @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .eliminarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .listarCrud {
                @include listarCrud();
                picture {
                    img {
                        @include img ();
                    }
                }
                button {
                    @include buttonCancelar();
                }
            }
            .salidaCrud {
                height: 40px;
                width: 142px;
                background: #FA6100;
                border-radius: 40px;
                button {
                    @include buttonCancelar( 
                        $color: #FFFFFF,
                        $text-align: center,
                        $margin-left: 41px,
                        );
                }
            }
        }
    }

//-------Datos Familia--------//
.divImage{
    border: solid gray 1px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.centerSectionFamilia{
        margin-left: 200px;
        margin-top: 50px;
}

.rightSectionFamilia {
    margin-top: 50px;
    margin-left: 172px;
}

.inputsSectionFamilia{
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
}
.inputLeftFamilia{
    margin-right: 20px;
}

.unidadInputsFamilia{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.unidadInputFamiliaSmall{
    display: flex;
    width: 300px;
    justify-content: space-between;
}